#form_creation_container {
  height: 100vh;

  color: white;

  display: flex;
}

#form_creation_container input {
  font-family: "Rajdhani_Medium";
  width: 200%;
  height: 40px;
  border-radius: 20px;
  border: none;
}

#form_creation_container label {
  font-family: "Rajdhani_Medium";
  margin: 1rem;

  border-bottom: 2px solid white;
  padding-right: 1rem;
}

#form_creation_container button {
  font-family: "Rajdhani_Medium";
  margin-top: 1rem;
  margin-right: 4rem;

  padding-right: 2rem;
  padding-left: 2rem;
}

input[type="file"] {
  color: red;
  margin-left: 7rem;
}

.form_left {
  width: 50%;
  height: 100%;

  margin-right: 5px;

  background-color: #007f67;

  background-image: url(../images/pngFeu.svg);
  background-position: center;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
}

.form_right {
  width: 50%;
  height: 100%;
  margin-left: 5px;

  background-color: black;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form_share {
  font-size: 80px;
}

.form_add {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 5rem;
}

.city_add {
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;
}

.country_add {
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;
}

.coordinate_add {
  display: flex;
  flex-direction: column;

  margin-bottom: 1rem;
}
