* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Allan_Bold";
  text-decoration: none;
}

.displayNone {
  display: none;
}

@font-face {
  font-family: "Allan_Bold";
  src: url(../fonts/Allan/Allan-Bold.ttf);
}
@font-face {
  font-family: "Rajdhani_Medium";
  src: url(../fonts/Rajdhani/Rajdhani-Medium.ttf);
}
#index_top {
  height: 90vh;
  background-color: black;
  display: flex;
}

#header_left {
  height: 90vh;
  width: 50vw;
  border-right: 5px solid white;
  border-bottom: 10px solid white;
}

#header_right {
  height: 90vh;
  width: 50vw;
  background-image: url(../images/topBackground.jpg);
  background-size: cover;
  background-position: 50%;
  border-left: 5px solid white;
  border-bottom: 10px solid white;
}

.login_block {
  margin-left: 1rem;
}

.login_block ul {
  display: flex;
  gap: 20px;
}

.login_block li {
  border-bottom: 2px solid white;
  padding-right: 0.5rem;
}

.login_block a {
  color: white;
  font-family: "RadhjaniMedium";
  font-size: small;
}

.login_block a:hover {
  color: #ffb636;
}

.header_text {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header_text_span {
  color: #ffb636;
}

.header_text_span_2 {
  color: #ffb636;
}

.header_text h1 {
  color: white;
  text-align: center;
  font-size: 85px;
  margin-top: 2rem;
}

.header_text p {
  margin-left: 6rem;
  padding-left: 1rem;
  text-align: right;
  font-size: 22px;
  font-family: "Rajdhani_Medium";
  color: white;
  border-bottom: 2px solid white;
}

.header_text a {
  color: white;
  font-family: "Rajdhani_Medium";
}

.header_text a:hover {
  color: #ffb636;
}

#header_banner {
  background-color: black;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

#header_banner > div > p {
  color: white;
}

.banner_text {
  color: white;
  font-size: 24px;
  letter-spacing: 10px;
  margin-top: 10px;
}

#gallery_container {
  height: 80vh;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
  display: flex;
}

.gallery_left_container {
  height: 100%;
  width: 70%;
}

.left_container_top {
  height: 60%;
  width: 100%;
  display: flex;
}

.left_top_first_picture {
  width: 45%;
  height: 100%;
  background-image: url(../images/light_traffic2.jpg);
  background-position: center;
  background-size: cover;
  margin-right: 10px;
}

.left_top_second_picture {
  width: 55%;
  height: 100%;
  background-image: url(../images/topBackground.jpg);
  background-position: center;
  background-size: cover;
}

.left_container_bottom {
  display: flex;
  height: 40%;
  width: 100%;
  margin-top: 10px;
}

.left_bottom_first_picture {
  background-image: url(../images/light_traffic8.jpg);
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 100%;
  margin-right: 5px;
}

.left_bottom_second_picture {
  background-image: url(../images/light_traffic5.jpg);
  background-position: center;
  background-size: cover;
  width: 40%;
  height: 100%;
  margin-left: 5px;
}

.gallery_right_container {
  height: 100%;
  width: 30%;
  margin-left: 10px;
}

.gallery_right_container {
  height: 100%;
  width: 30%;
}

.right_picture {
  background-image: url(../images/light_traffic6.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
  padding-bottom: 10px;
}

#header_banner_footer {
  background-color: black;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_text_footer {
  color: white;
  font-size: 24px;
  letter-spacing: 10px;
  margin-top: 10px;
}

.header_text_traffic h1 {
  margin-left: 1rem;
  margin-right: 1rem;
}

#header_banner_text {
  background-color: #ffb636;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.banner_text {
  color: black;
  font-size: 24px;
  letter-spacing: 10px;
  margin-top: 10px;
}

#gallery_container_lt {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#articles_container {
  border: 2px solid red;
  display: flex;
  margin-bottom: 10px;
}

.article_container {
  border: 2px solid;
  width: 100%;
  height: 20%;
  position: relative;
}

.info_article {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  left: 10px;
  bottom: 10px;
  gap: 10px;
  background-color: #007f67;
  color: white;
}

.cityname_title {
  font-size: 16px;
}

.upload_image {
  width: 100%;
  height: 20%;
}

.country_title {
  font-size: 32px;
}

#comments_container {
  background-color: #007f67;
  color: black;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.comments_title {
  font-size: 25px;
  padding-bottom: 1rem;
  margin-left: 1rem;
}

.comments_title p {
  border-bottom: 2px solid white;
  padding-right: 1rem;
  display: inline;
  color: white;
}

.comments_section {
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 20px;
  display: flex;
  gap: 10px;
}

.comments_section input {
  width: 90%;
  height: 50px;
  border-radius: 20px;
  border: none;
}

input::placeholder {
  letter-spacing: 3px;
  text-align: center;
  font-family: "Rajdhani_Medium";
}

.comments_section input:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.comments_section button:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button-17 {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Rajdhani_Medium";
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.button-17:hover {
  background: #f6f9fe;
  color: #000000;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgba(60, 64, 67, 0.3), 0 8px 12px 6px rgba(60, 64, 67, 0.15);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0, rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0, rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.comments_list_title {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 25px;
  color: white;
  border-bottom: 2px solid white;
  margin-bottom: 2rem;
}

#form_creation_container {
  height: 100vh;
  color: white;
  display: flex;
}

#form_creation_container input {
  font-family: "Rajdhani_Medium";
  width: 200%;
  height: 40px;
  border-radius: 20px;
  border: none;
}

#form_creation_container label {
  font-family: "Rajdhani_Medium";
  margin: 1rem;
  border-bottom: 2px solid white;
  padding-right: 1rem;
}

#form_creation_container button {
  font-family: "Rajdhani_Medium";
  margin-top: 1rem;
  margin-right: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

input[type=file] {
  color: red;
  margin-left: 7rem;
}

.form_left {
  width: 50%;
  height: 100%;
  margin-right: 5px;
  background-color: #007f67;
  background-image: url(../images/pngFeu.svg);
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form_right {
  width: 50%;
  height: 100%;
  margin-left: 5px;
  background-color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.form_share {
  font-size: 80px;
}

.form_add {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5rem;
}

.city_add {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.country_add {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.coordonate_add {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

#login_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  color: white;
}

.login_left {
  width: 50%;
  background-image: url(../images/lastBackground.jpg);
  background-position: right;
  background-size: cover;
  margin-right: 5px;
}

.login_right {
  width: 50%;
  background-color: black;
  margin-left: 5px;
}

.login_title {
  text-align: center;
  font-size: 70px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.login_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.login_form_name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login_form_name label {
  border-bottom: 2px solid white;
}

.login_form_name input {
  border-radius: 20px;
  border: none;
  height: 40px;
  text-align: center;
  width: 200%;
}

label {
  font-family: "Rajdhani_Medium";
}

input {
  font-family: "Rajdhani_Medium";
}

button {
  margin-top: 1rem;
  font-family: "Rajdhani_Medium";
}

.login_form_password input {
  border-radius: 20px;
  border: none;
  height: 40px;
  text-align: center;
  width: 200%;
}

.login_form_password {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.login_form_password label {
  border-bottom: 2px solid white;
}

#registrer_container {
  height: 100vh;
  display: flex;
  color: white;
}

.registrer_left {
  width: 50%;
  background-image: url(../images/lastBackground.jpg);
  background-position: right;
  background-size: cover;
  margin-right: 5px;
}

.registrer_right {
  width: 50%;
  background-color: black;
  margin-left: 5px;
}

.registrer_title {
  text-align: center;
  font-size: 70px;
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.registrer_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.registrer_form_confirm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registrer_form_name {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registrer_form_name label {
  border-bottom: 2px solid white;
}

.registrer_form_name input {
  border-radius: 20px;
  border: none;
  height: 40px;
  text-align: center;
  width: 200%;
}

.registrer_form_password {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registrer_form_password input {
  border-radius: 20px;
  border: none;
  height: 40px;
  text-align: center;
  width: 200%;
}

.registrer_form_password label {
  border-bottom: 2px solid white;
}

.registrer_form_confirm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.registrer_form_confirm input {
  border-radius: 20px;
  border: none;
  height: 40px;
  text-align: center;
  width: 200%;
}

.registrer_form_confirm label {
  border-bottom: 2px solid white;
}

#registrer_container > div.registrer_right > form > button {
  padding-left: 1rem;
  padding-right: 1rem;
}

/*# sourceMappingURL=style.css.map */
